
*.out
RestauranteSL/Restaurante/obj/Debug/Restaurante.pdb
*.dll
RestauranteSL/Datos/bin/Debug/Datos.pdb
RestauranteSL/Datos/bin/Debug/Entidades.pdb
RestauranteSL/Datos/obj/Debug/Datos.csproj.FileListAbsolute.txt
RestauranteSL/Datos/obj/Debug/Datos.csprojResolveAssemblyReference.cache
RestauranteSL/Datos/obj/Debug/Datos.pdb
RestauranteSL/Datos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RestauranteSL/Datos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RestauranteSL/Datos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RestauranteSL/Datos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RestauranteSL/Datos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RestauranteSL/Datos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RestauranteSL/Entidades/bin/Debug/Entidades.pdb
RestauranteSL/Datos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RestauranteSL/Entidades/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RestauranteSL/Entidades/obj/Debug/Entidades.csproj.FileListAbsolute.txt
RestauranteSL/Restaurante/obj/Debug/Restaurante.csprojResolveAssemblyReference.cache
RestauranteSL/Restaurante/obj/Debug/Restaurante.csproj.FileListAbsolute.txt
RestauranteSL/Restaurante/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RestauranteSL/Restaurante/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RestauranteSL/Restaurante/bin/roslyn/VBCSCompiler.exe.config
RestauranteSL/Restaurante/bin/roslyn/vbc.exe
RestauranteSL/Restaurante/bin/roslyn/Microsoft.VisualBasic.Core.targets
RestauranteSL/Restaurante/bin/roslyn/Microsoft.CSharp.Core.targets
RestauranteSL/Restaurante/bin/Restaurante.pdb
RestauranteSL/Restaurante/bin/Restaurante.dll.config
RestauranteSL/Restaurante/bin/Logica.pdb
RestauranteSL/Restaurante/bin/Entidades.pdb
RestauranteSL/Logica/obj/Debug/Logica.pdb
RestauranteSL/Logica/obj/Debug/Logica.csprojResolveAssemblyReference.cache
RestauranteSL/Logica/obj/Debug/Logica.csproj.FileListAbsolute.txt
RestauranteSL/Logica/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RestauranteSL/Logica/bin/Debug/Logica.pdb
RestauranteSL/Logica/bin/Debug/Datos.pdb
RestauranteSL/Restaurante/bin/roslyn/VBCSCompiler.exe
RestauranteSL/Restaurante/bin/roslyn/csc.exe
RestauranteSL/Logica/bin/Debug/Entidades.pdb
RestauranteSL/Entidades/obj/Debug/Entidades.pdb
RestauranteSL/Entidades/obj/Debug/Entidades.csprojResolveAssemblyReference.cache
*.cache
RestauranteSL/Datos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RestauranteSL/Entidades/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RestauranteSL/Datos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RestauranteSL/Entidades/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RestauranteSL/Logica/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
*.cache
*.cache
RestauranteSL/Datos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
*.cache
RestauranteSL/Logica/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RestauranteSL/Restaurante/bin/Datos.pdb
*.cache
RestauranteSL/Restaurante/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RestauranteSL/Restaurante/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RestauranteSL/Entidades/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RestauranteSL/Restaurante/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RestauranteSL/.vs/config/applicationhost.config
RestauranteSL/.vs/config/applicationhost.config
RestauranteSL/.vs/RestauranteSL/v14/.suo
RestauranteSL/.vs/RestauranteSL/v14/.suo
RestauranteSL/Restaurante/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RestauranteSL/.vs/RestauranteSL/v14/.suo
RestauranteSL/Restaurante/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RestauranteSL/.vs/RestauranteSL/v14/.suo
RestauranteSL/Restaurante/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RestauranteSL/.vs/RestauranteSL/v14/.suo
RestauranteSL/Restaurante/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RestauranteSL/.vs/RestauranteSL/v14/.suo
RestauranteSL/Restaurante/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RestauranteSL/.vs/RestauranteSL/v14/.suo
RestauranteSL/Restaurante/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RestauranteSL/.vs/RestauranteSL/v14/.suo
RestauranteSL/Restaurante/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
